@model AgiliBlueFood.MVC.ViewModels.UsuarioViewModel
    @{
        ViewBag.Title = "Agili Food";
    }


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


    <div class="form-horizontal">
        <h4></h4>
        <div id="fundo-externo">
            <div class="fundo">
                <img src="~/Img/fundo.jpg" />
            </div>

            <hr />

        </div>
        </div>
    }


@*@{
    ViewBag.Title = "Ext JS42...";
}

<script type="text/javascript" src="~/Scripts/extjs/app.js"></script>*@ 